.chart-container {
    position: relative;
    width: 100%;
}

.display {
    background-color: black;
}

.config_button {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: black !important;
}